.DS_Store
node_modules
/dist
/coverage
*.log

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Build files
*.js.map
packages/*/lib/**/*.js
**/__tests__/**/*.js
!**/__tests__/fixtures/*.js
**/__perfs__/*.js
